<h1>Create a Goal</h1>
<%= form_for @goal do |x|%>
<p>
	<%= x.label :title %><br>
	<%= x.text_field :title %>
</p>
<p>
	<%= x.label :description %><br>
	<%= x.text_area :description %>
</p>
<p>
	<%= x.submit %>
</p>
<% end %>